{
  "swagger" : "2.0",
  "info" : {
    "version" : "2025-03-21T18:17:19Z",
    "title" : "Clone from Communities backup"
  },
  "host" : "api.dashnex.com",
  "basePath" : "/communities/v1",
  "schemes" : [ "https" ],
  "paths" : {
    "/communities/v1/private" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "categories",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "field",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetCommunitiesResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesCreateCommunityRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesCreateCommunityRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesCreateCommunityResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/accept-tos" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesAcceptTOSRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesAcceptTOSRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesAcceptTOSResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/categories" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ignoreEmpty",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetCategoriesResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/members/{member}/approve" : {
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "patch" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesApproveMembershipRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesApproveMembershipRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesApproveMembershipResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      }
    },
    "/communities/v1/private/members/{member}/block" : {
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "patch" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesBlockMemberRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesBlockMemberRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesBlockMemberResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      }
    },
    "/communities/v1/private/members/{member}/cancel-request" : {
      "delete" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesCancelMembershipRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesCancelMembershipRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesCancelMembershipResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/members/{member}/reject" : {
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "patch" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesRejectMembershipRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesRejectMembershipRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesRejectMembershipResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      }
    },
    "/communities/v1/private/members/{member}/unblock" : {
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "patch" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesUnblockMemberRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesUnblockMemberRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesUnblockMemberResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      }
    },
    "/communities/v1/private/milestones" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetMilestonesResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/milestones/user/{user}" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "user",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetUserMilestoneResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/my-communities" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetMyCommunitiesResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/posts/flags/{flag}" : {
      "delete" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "flag",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesDeleteFlagRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesDeleteFlagRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesDeleteFlagResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "flag",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/posts/{post}" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetPostResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "delete" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesDeletePostRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesDeletePostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesDeletePostResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "patch" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesEditPostRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesEditPostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesEditPostResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      }
    },
    "/communities/v1/private/posts/{post}/flag" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesFlagPostRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesFlagPostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesFlagPostResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/posts/{post}/like" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesLikePostRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesLikePostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesLikePostResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "delete" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesUnlikePostRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesUnlikePostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesUnlikePostResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/posts/{post}/likes" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetPostLikesResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/posts/{post}/pin/{pinned}" : {
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "pinned",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "patch" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "pinned",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesTogglePostPinRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesTogglePostPinRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesTogglePostPinResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      }
    },
    "/communities/v1/private/posts/{post}/reply" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesCreateReplyRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesCreateReplyRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesCreateReplyResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/product-actions" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesProductActionsResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/{path}" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetCommunityResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "delete" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesDeleteCommunityRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesDeleteCommunityRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesDeleteCommunityResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "patch" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesUpdateCommunityRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesUpdateCommunityRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesUpdateCommunityResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      }
    },
    "/communities/v1/private/{path}/community-cover-image" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesPostCommunityCoverImageRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesPostCommunityCoverImageRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesPostCommunityCoverImageResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/{path}/images" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesUploadImageRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesUploadImageRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesUploadImageResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/{path}/join" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesJoinCommunityRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesJoinCommunityRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesJoinCommunityResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/{path}/members" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetMembersResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/{path}/members/blocked" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetBlockedMembersResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/{path}/my-stats" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetCommunityStatsResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/{path}/posts" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesGetPostsResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesCreatePostRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesCreatePostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesCreatePostResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/private/{path}/title-cover-image" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "CommunitiesPostTitleCoverImageRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CommunitiesPostTitleCoverImageRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CommunitiesPostTitleCoverImageResponse"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/communities/v1/public/__healthcheck" : {
      "get" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "x-dashnex-rid" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/private/categories" : {
      "get" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ignoreEmpty",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/members/{member}/cancel-request" : {
      "delete" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "parameters" : [ {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/members/{member}/reject" : {
      "options" : {
        "parameters" : [ {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      },
      "patch" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "member",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      }
    },
    "/private/milestones" : {
      "get" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/my-communities" : {
      "get" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/posts/{post}" : {
      "get" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "delete" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      },
      "patch" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      }
    },
    "/private/posts/{post}/flag" : {
      "post" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/posts/{post}/like" : {
      "post" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "delete" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/posts/{post}/reply" : {
      "post" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "parameters" : [ {
          "name" : "post",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/product-actions" : {
      "get" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/{path}" : {
      "get" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "delete" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      },
      "patch" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      }
    },
    "/private/{path}/community-cover-image" : {
      "post" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/{path}/members" : {
      "get" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/{path}/posts" : {
      "get" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "perPage",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "post" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/private/{path}/title-cover-image" : {
      "post" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "live_lambda_authorizer" : [ ]
        } ]
      },
      "options" : {
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    },
    "/public/__healthcheck" : {
      "get" : {
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "live_lambda_authorizer" : {
      "type" : "apiKey",
      "name" : "authorization",
      "in" : "header",
      "x-amazon-apigateway-authtype" : "custom"
    }
  },
  "definitions" : {
    "CommunitiesGetMyCommunitiesResponse" : {
      "type" : "object",
      "required" : [ "items", "total" ],
      "properties" : {
        "items" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "integer",
                "description" : "Unique identifier of the club"
              },
              "user" : {
                "type" : "object",
                "properties" : {
                  "surname" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "integer"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "isBusiness" : {
                    "type" : "boolean"
                  }
                },
                "required" : [ "id", "isBusiness", "name", "surname" ]
              },
              "name" : {
                "type" : "string",
                "description" : "Name of the club"
              },
              "path" : {
                "type" : "string",
                "description" : "URL-friendly path of the club"
              },
              "description" : {
                "type" : "string",
                "description" : "Description of the club"
              },
              "type" : {
                "type" : "string",
                "description" : "Type of the club",
                "enum" : [ "private" ]
              },
              "category" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "integer"
                  },
                  "name" : {
                    "type" : "string"
                  }
                },
                "required" : [ "id", "name" ]
              },
              "allowLinks" : {
                "type" : "boolean",
                "description" : "Whether links are allowed in the club"
              },
              "visibility" : {
                "type" : "boolean",
                "description" : "Visibility status of the club"
              },
              "editDuration" : {
                "type" : "integer",
                "description" : "Duration (in minutes) allowed for editing",
                "minimum" : 0.0
              },
              "deleteDuration" : {
                "type" : "integer",
                "description" : "Duration (in minutes) allowed for deletion",
                "minimum" : 0.0
              },
              "createdAt" : {
                "type" : "string",
                "format" : "date-time",
                "description" : "Creation timestamp"
              },
              "updatedAt" : {
                "type" : "string",
                "format" : "date-time",
                "description" : "Last update timestamp"
              },
              "approvedMembersCount" : {
                "type" : "integer",
                "description" : "Number of approved members",
                "minimum" : 0.0
              },
              "ownerMilestone" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "credits" : {
                    "type" : "integer",
                    "minimum" : 0.0
                  }
                },
                "required" : [ "credits", "description", "name" ]
              },
              "isMember" : {
                "type" : "boolean",
                "description" : "Whether the current user is a member"
              }
            },
            "required" : [ "allowLinks", "approvedMembersCount", "category", "createdAt", "deleteDuration", "description", "editDuration", "id", "isMember", "name", "ownerMilestone", "path", "type", "updatedAt", "user", "visibility" ]
          }
        },
        "total" : {
          "type" : "integer",
          "description" : "Total number of items",
          "minimum" : 0.0
        }
      },
      "title" : "GetMyCommunitiesResponse"
    },
    "CommunitiesBlockMemberResponse" : {
      "type" : "object",
      "required" : [ "blockReason", "community", "createdAt", "id", "isBlocked", "status", "updatedAt", "user" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "description" : "Member ID"
        },
        "user" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "integer",
              "description" : "User ID"
            },
            "fullName" : {
              "type" : "string",
              "description" : "User's full name"
            }
          },
          "required" : [ "fullName", "id" ]
        },
        "community" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "integer",
              "description" : "Community ID"
            },
            "path" : {
              "type" : "string",
              "description" : "Community URL path",
              "pattern" : "^[a-z0-9.-]{2,}$"
            }
          },
          "required" : [ "id", "path" ]
        },
        "status" : {
          "type" : "string",
          "description" : "Member status",
          "enum" : [ "PENDING", "APPROVED", "INACTIVE", "BANNED", "REJECTED", "CANCELED" ]
        },
        "isBlocked" : {
          "type" : "boolean",
          "description" : "Whether the member is blocked"
        },
        "blockReason" : {
          "type" : "string",
          "description" : "Reason for blocking the member",
          "maxLength" : 150
        },
        "createdAt" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "When the membership was created"
        },
        "updatedAt" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "When the membership was last updated"
        }
      },
      "title" : "BlockMemberResponse"
    },
    "CommunitiesCreateCommunityRequest" : {
      "type" : "object",
      "required" : [ "category", "name", "path", "type" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the community",
          "maxLength" : 100
        },
        "path" : {
          "type" : "string",
          "description" : "URL-friendly path for the community",
          "minLength" : 2,
          "maxLength" : 100,
          "pattern" : "^[a-z0-9=-]{2,}$"
        },
        "description" : {
          "type" : "string",
          "description" : "Short description of the community",
          "maxLength" : 220
        },
        "type" : {
          "type" : "string",
          "description" : "Community type",
          "enum" : [ "public", "private" ],
          "default" : "public"
        },
        "category" : {
          "type" : "integer",
          "description" : "ID of the community category"
        }
      },
      "title" : "CreateCommunityRequest"
    },
    "CommunitiesGetMilestonesResponse" : {
      "title" : "GetMilestonesResponse",
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the rank"
          },
          "description" : {
            "type" : "string",
            "description" : "Description of the rank"
          },
          "credits" : {
            "type" : "integer",
            "description" : "Number of credits required for this rank",
            "minimum" : 0.0
          }
        },
        "required" : [ "credits", "description", "name" ]
      }
    },
    "CommunitiesPostCommunityCoverImageRequest" : {
      "type" : "object",
      "required" : [ "communityCoverImageFile", "path" ],
      "properties" : {
        "path" : {
          "type" : "string",
          "description" : "Community URL path",
          "minLength" : 2,
          "pattern" : "^[a-z0-9.-]{2,}$"
        },
        "communityCoverImageFile" : {
          "type" : "string",
          "format" : "binary",
          "description" : "The community cover image file to upload (max 5MB)"
        }
      },
      "title" : "PostCommunityCoverImageRequest"
    },
    "CommunitiesCreatePostRequest" : {
      "type" : "object",
      "required" : [ "path", "text" ],
      "properties" : {
        "path" : {
          "type" : "string",
          "description" : "Community URL path",
          "minLength" : 2,
          "pattern" : "^[a-z0-9.-]{2,}$"
        },
        "text" : {
          "type" : "string",
          "description" : "Post content",
          "maxLength" : 65535
        },
        "pinned" : {
          "type" : "boolean",
          "description" : "Whether the post should be pinned",
          "default" : false
        },
        "topic" : {
          "type" : "object",
          "description" : "Topic this post belongs to",
          "properties" : {
            "id" : {
              "type" : "integer",
              "description" : "Topic ID"
            }
          },
          "required" : [ "id" ]
        },
        "attachments" : {
          "type" : "array",
          "description" : "List of file attachments",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "integer",
                "description" : "File ID"
              }
            },
            "required" : [ "id" ]
          }
        }
      },
      "title" : "CreatePostRequest"
    },
    "CommunitiesRejectMembershipResponse" : {
      "type" : "object",
      "required" : [ "community", "cooldownStart", "createdAt", "id", "status", "updatedAt", "user" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "description" : "Member ID"
        },
        "user" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "integer",
              "description" : "User ID"
            },
            "fullName" : {
              "type" : "string",
              "description" : "User's full name"
            }
          },
          "required" : [ "fullName", "id" ]
        },
        "community" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "integer",
              "description" : "Community ID"
            },
            "path" : {
              "type" : "string",
              "description" : "Community URL path",
              "pattern" : "^[a-z0-9.-]{2,}$"
            }
          },
          "required" : [ "id", "path" ]
        },
        "status" : {
          "type" : "string",
          "description" : "Member status",
          "enum" : [ "REJECTED" ]
        },
        "cooldownStart" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "When the cooldown period started"
        },
        "createdAt" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "When the membership was created"
        },
        "updatedAt" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "When the membership was last updated"
        }
      },
      "title" : "RejectMembershipResponse"
    },
    "CommunitiesGetMembersResponseItemsItem" : {
      "$ref" : "#/definitions/CommunitiesGetMembersResponseItemsItem"
    },
    "CommunitiesUploadImageRequest" : {
      "type" : "object",
      "required" : [ "imageFile", "path" ],
      "properties" : {
        "path" : {
          "type" : "string",
          "description" : "Community URL path",
          "minLength" : 2,
          "pattern" : "^[a-z0-9.-]{2,}$"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the image"
        },
        "imageFile" : {
          "type" : "string",
          "format" : "binary",
          "description" : "The image file to upload (max 5MB)"
        }
      },
      "title" : "UploadImageRequest"
    },
    "CommunitiesAcceptTOSRequest" : {
      "type" : "object",
      "title" : "AcceptTOSRequest"
    },
    "CommunitiesCancelMembershipRequest" : {
      "type" : "object",
      "required" : [ "member" ],
      "properties" : {
        "member" : {
          "type" : "integer",
          "description" : "Member ID"
        }
      },
      "title" : "CancelMembershipRequest"
    },
    "CommunitiesGetBlockedMembersResponse" : {
      "type" : "object",
      "required" : [ "items", "total" ],
      "properties" : {
        "items" : {
          "type" : "array",
          "description" : "List of blocked members",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "integer",
                "description" : "Member ID"
              },
              "user" : {
                "type" : "object",
                "properties" : {
                  "id" : {
[...]
